{{ template "chrome/header.html" . }}
<body>
{{ template "chrome/navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="well">
                    <h3>{{ .Title }}<br> <small>{{ .Description }}</small></h3>
                    <hr>
                    {{ .Content }}
                    <hr>
            </div>
            
            {{ template "chrome/details.html" . }}
            {{ template "chrome/disqus.html" . }}

        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading" style="padding: 2px 15px;">
                  <h4>Info</h4>
              </div>
            <div class="panel-body">
                <strong><i class="fa fa-calendar"></i> {{ .Date.Format "2 - Jan - 2006" }}</strong><br>
                <small>Total ada {{ .WordCount }} kalimat</small>
                <hr>
                <strong><i class="fa fa-bolt"></i> Kategori </strong>
                <ul class="list-unstyled">
                {{ range .Params.categories }}
                    <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
                </ul>
                <hr>
                <strong><i class="fa fa-tags"></i> Tags </strong><br>
                {{ range .Params.tags }}<a class="label label-default" href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
            </div>
        </div>
            {{ template "chrome/menu.html" . }}
        </div>
    </div>
{{ template "chrome/footer.copyright.html" . }}
</div>

<a id="gotop" href="#">
  <span><i class="fa fa-location-arrow"></i></span> 
</a>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-535e539e54531802"></script>
{{ template "chrome/footer.html" . }}
