    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>Social Media</h4>
        </div>
        <div class="panel-body">
            <a href="https://github.com/ageng/" class="btn btn-primary btn-xs"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="https://www.facebook.com/newbie.masih" class="btn btn-info btn-xs"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://twitter.com/newbie_masih" class="btn btn-info btn-xs"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="milto:ageng.jr01@gmail.com" class="btn btn-primary btn-xs"><i class="fa fa-envelope fa-2x"></i></a>
        </div>
    </div>
