<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "chrome/meta.html" . }}
  <title>{{ .Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ template "chrome/header.style.html" . }}
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif] -->
  {{ if .RSSlink }}<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title}}" />{{ end }}
</head>
